@import "styles/utils/mixins";

.pageContainer {
  position: relative;
  padding: 8px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoMessageContainer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.92;
}

.infoText {
  color: var(--00, #818f99);
}

.listItem {
  position: relative;
  display: flex;
  min-height: 44px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  color: var(--04, #e3e7e9);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;

    border-top: 1px solid var(--20, #2b3847);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    right: -16px;

    border-bottom: 1px solid var(--20, #2b3847);
  }

  &.mgnBtm {
    margin-bottom: 8px;
  }
}

.activeText {
  // color: var(--04, #e3e7e9);
}

.btnLink {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--04, #e3e7e9);
}

.btnLinkIcon {
  margin-left: 16px;
  // color: var(--04, #e3e7e9);
}

.copyContainer {
  display: flex;
  align-items: center;

  color: var(--04, #e3e7e9);
}

.btn {
  @include btn;
  margin-left: 16px;
}

// ============ checkbox
.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkboxLabel {
  position: relative;
  padding: 10px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  // Базовий стиль
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    // border: 2px solid #000; // Чорний за замовчуванням
    border: 2px solid var(--04, #e3e7e9); // Чорний за замовчуванням
    border-radius: 4px;
    background-color: transparent;
  }

  //# Для нових браузерів можна використовувати :has
  // &:has(.checkboxInput:checked)::after {
  //# для старих браузерів - варіант з умовним класом:
  // Показуємо галочку, коли input всередині label має стан :checked
  &.checked::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    // color: #000; // Чорний за замовчуванням
    color: var(--04, #e3e7e9);
    opacity: 1;
  }

  // За замовчуванням галочка прихована
  &::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    // color: #000; // Чорний за замовчуванням
    color: var(--04, #e3e7e9);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.disabled {
    cursor: auto;
    color: var(--10, #3b4957);

    &::before {
      border-color: var(--10, #3b4957);
    }

    &::after {
      color: var(--10, #3b4957);
    }
  }
}
.checkboxInput {
  display: none; // hide the standard checkbox
}

// .playersList {
//   display: flex;
//   flex-direction: column;
//   gap: 1px;
//   background-color: transparent;
// }

// .bottomBar {
//   margin-top: auto;

//   display: flex;
//   gap: 2px;

//   padding: 2px;

//   background-color: var(--white_color);
//   box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.24);
// }

// .redirectContainer {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;

//   width: 100%;
//   height: 44px;
//   padding: 0 14px 0 16px;

//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: normal;
//   letter-spacing: 0%;
//   vertical-align: middle;
//   text-transform: uppercase;
//   white-space: nowrap;

//   cursor: pointer;
//   background-color: var(--btnBgColor);
//   color: var(--btnTextColor);
// }

// .copyBtn {
//   margin: 0;
//   padding: 14px 16px;

//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: normal;
//   letter-spacing: 0%;
//   vertical-align: middle;
//   text-transform: uppercase;
//   white-space: nowrap;

//   cursor: pointer;
//   background-color: var(--btnBgColor);
//   color: var(--btnTextColor);
// }
