// BUTTON
@mixin btnBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;

  background-color: transparent;
  color: #5d7e9e;

  font-size: 14px;
  line-height: 20px;

  cursor: pointer;
  user-select: none; // prevents selection text
  caret-color: transparent; // prevents show cursor on text
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(15, 125, 255, 0.122);
  }

  &:disabled {
    border-color: rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.24);
  }

  &::selection {
    background: transparent; // prevents accidental highlighting of text (for example if "user-select" is somehow bypassed)
  }
}

@mixin btnPrimary {
  @include btnBase;
  border: 1px solid #5d7e9e;
}

@mixin btnSecondary {
  @include btnBase;
}

@mixin btnBarMenu {
  @include btnBase;
  color: var(--white_color);
  border-radius: 2px;
  &:hover {
    background-color: #aec2d6;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.24);
  }
}
