@import "styles/utils/_mixins.scss";

.btnPrimary {
  @include btnPrimary;
}

.btnBarMenu {
  @include btnBarMenu;
}

.twoBtnsInRow {
  flex-basis: 50%; // makes size 50% of parent width
}

.btnFlexGrow {
  flex-grow: 1;
}

.btnTransparentBorder {
  border: 1px solid transparent;
}
