.copyBtn {
  margin: 0;
  padding: 14px 16px;

  background-color: var(--btnBgColor);
  color: var(--btnTextColor);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;
}

//* checkbox
.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkboxLabel {
  position: relative;
  padding: 10px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  // Базовий стиль
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #000; // Чорний за замовчуванням
    border-radius: 4px;
    background-color: transparent;
  }

  //# Для нових браузерів можна використовувати :has
  // &:has(.checkboxInput:checked)::after {
  //# для старих браузерів - варіант з умовним класом:
  // Показуємо галочку, коли input всередині label має стан :checked
  &.checked::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000; // Чорний за замовчуванням
    opacity: 1;
  }

  // За замовчуванням галочка прихована
  &::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000; // Чорний за замовчуванням
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.disabled {
    cursor: auto;
    color: #0000003d;

    &::before {
      border-color: #0000003d;
    }

    &::after {
      color: #0000003d;
    }
  }
}
.checkboxInput {
  display: none; // hide the standard checkbox
}
