.list {
  // display: flex;
  // flex-direction: row;
}
.item {
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  user-select: none;
  caret-color: transparent;

  // Бібліотека @hello-pangea/dnd автоматично додає transform, тому можна змінити стилі за допомогою CSS:
  // transition: transform 1s ease-in-out;
  // transition: transform 0.5s ease-in-out, opacity 0.3s;
  // opacity: 0.5;
  // transform: scale(1.1);
}

.host {
  cursor: grab; /* Для хоста */
}

.inactive {
  opacity: 0.5; /* Якщо не хост */
}
