/* ========== ЗАГАЛЬНІ СТИЛІ ==========  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// для мобільний браузерів (адресний рядок)

body {
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

// /* Адаптація до безпечної зони (safe area) для iOS */
// @supports (padding-top: env(safe-area-inset-top)) {
//   body {
//     padding-top: env(safe-area-inset-top);
//     padding-bottom: env(safe-area-inset-bottom);
//   }
// }

body {
  // styles:
  font-family: var(--font_base_family), serif;
  font-size: var(--font_base_size);
  line-height: var(--font_base_line_height);
  letter-spacing: var(--font_base_letter_spacing);
  font-weight: var(--font_base_weight);

  user-select: none; // prevents any selection
  caret-color: transparent; // prevents show cursor on text (for LibreWolf browser)

  // margin: 0;
  // padding: 0;
  // min-height: 100vh;
  // height: 100%;
  // background-color: var(--Dark, #000); /* Фон на всю сторінку */
  background-color: var(--30, #1c2732);

  // Видалення синього квадрату виділення (фокус) на мобільному Chrome
  -webkit-tap-highlight-color: transparent; /* Прибирає підсвітку при натисканні */

  // // debug:
  // * {
  //   outline: 1px solid rgba(255, 0, 0, 0.2);
  // }
  & #root {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-box-flex: 1;
    scrollbar-width: none;

    & ::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
  }
}

// #root {
//   // height: 100%;
//   // min-height: 100vh;
//   // display: flex;
//   // flex-direction: column;
// }

/* ========== /ЗАГАЛЬНІ СТИЛІ ==========  */

/* ========== СКИДАННЯ СТИЛІВ ==========  */
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Знімає стилізацію з ul */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Знімає стилізацію з <a> */
a {
  text-decoration: none;
  color: inherit;
  vertical-align: bottom;

  /* deleted 4px in bottom of tag <a> */
  /* display: flex; або vertical-align:bottom; */
}

/* Заборона зміну розміру в textarea */
textarea {
  resize: none;
}

/* прибирає нахил за замовчуванням */
address {
  font-style: normal;
}

input {
  border: none;
}

button {
  display: flex; // display: block не в усіх браузерах скидає стилі
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

/* ========== /СКИДАННЯ СТИЛІВ ========== */
