@import "styles/utils/mixins";
@import "styles/utils/breakpoints";

.btn {
  @include btn;
  background: var(--20, #2b3847);
  color: var(--04, #e3e7e9);
}

.btnActive {
  background: var(--02, #c9cfd4);
  color: var(--40, #161f27);
}

.checkboxCard {
  width: 20px;
  height: 20px;
}

.maskContainer {
  width: 100%;
  height: 100%;
  background-color: var(--Dark, #000);
}

// ======== Carousel ========
.cardWrap {
  padding: 8px;
}

.carousel {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
}

.carouselSlide {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}

.slideContainer {
  position: relative;
  padding: 4px;
  height: 100%;
}

.slideContainerActive {
  // outline: 5px solid var(--04, #e3e7e9); // стискає падінг і зображення
  // outline: 5px solid var(--04, #e3e7e9); // не малюється
  box-shadow: inset 0 0 0 2px var(--04, #e3e7e9); // працює
}

//Стилі для появи першого слайду
.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: fill;

  // Початковий стан для всіх слайдів
  transform: scale(0);
  opacity: 0.5;

  // Анімація для плавної появи слайду
  animation: fadeInScale 0.3s ease forwards; // "forwards" зберігає кінцевий стан
}

// Анімація появи
@keyframes fadeInScale {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
// ======== /Carousel ========

.nonCarouselContainer {
  display: flex;
  justify-content: center;
}

.currentDeckContainer {
  position: relative;

  // max-width: $mobileStandard;
  width: 100%;
  padding: 8px;

  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 8px;
}

.card {
  width: 96px;
  padding: 4px;

  background-color: transparent;
  flex-basis: calc((100% - 16px) / 3);
}

.img {
  width: 100%;
  height: 100%;
}
