@import "styles/utils/_breakpoints.scss";
// $mobile: 480px;
// $tablet: 768px;
// $desktop: 1200px;

.mainContainer {
  max-width: $mobile;
  margin: 0 auto;
  height: 100vh;

  @media screen and (min-width: $tablet) {
    max-width: $desktop;
  }
}

.navHeader {
  // height: 44px;
  // background-color: var(--status_bar_color);
  // @media screen and (min-width: ($tablet)) and (max-width: ($desktop - 1)) {
  // }

  // @media screen and (min-width: ($desktop)) {
  // }
}

.suspenseLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(93, 126, 158, 0.2) 33%,
    rgb(93, 126, 158) 100%
  );
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    // background: #263238;
    background-color: #fff;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.suspenseMainContainer {
  margin: auto;
}

.pageHeader {
  display: flex;
  align-items: center;

  height: 44px;
  padding: 11px 16px;
  padding-left: 44px;

  background-color: var(--pageHeaderBgColor);
  color: var(--pageHeaderTextColor);
}
