@import "styles/utils/breakpoints";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  max-width: $mobileMax;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

.sharedHeader,
.sharedFooter {
  width: 100vw;
  background: var(--30, #1c2732);
  opacity: 0;
  transition: opacity 1s ease-in-out;

  @media screen and (min-height: ($minHeight + 1)) {
    height: calc((100vh - var(--height) - 44px) / 2);
  }

  &.visible {
    opacity: 1;
  }
}

.pageHeader {
  position: sticky;
  top: 0;
  left: 0;
  // right: 0;
  z-index: 10;

  width: 100vw;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--30, #1c2732);
}

.pageHeaderContainer {
  max-width: $mobileMax;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pageHeaderTextContainer {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  // width: 100%;
}
.pageHeaderText {
  z-index: 2;
  color: var(--04, #e3e7e9);
  padding: 0 16px;
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
// .bgTextContainer {
//   position: absolute;
//   height: 44px;
//   width: 100vw;
//   left: 0;
//   background-color: var(--30, #1c2732);
// }

.backButton {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 14px 16px;
  background: var(--20, #2b3847);
  color: var(--04, #e3e7e9);
}
.backButtonIcon {
  width: 16px;
  height: 16px;
}

// suspense loader
.suspenseLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25vh;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(93, 126, 158, 0.2) 33%,
    rgb(93, 126, 158) 100%
  );
  box-sizing: border-box; // ! можна коментувати
  animation: rotation 1s linear infinite;

  &::after {
    content: "";
    box-sizing: border-box; // ! можна коментувати
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    // background: #263238;
    background-color: #fff;
  }
}
// /suspense loader

// Для всіх сторінок, крім HomePage
.navHeader {
  // height: 44px;
  // background-color: var(--status_bar_color);
  // @media screen and (min-width: ($tablet)) and (max-width: ($desktop - 1)) {
  // }

  // @media screen and (min-width: ($desktop)) {
  // }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// // Для HomePage спеціальне позиціонування
// .homePageNav {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   width: 100%;
//   background: transparent; // Прозорий фон для HomePage
// }
