.gameContainer {
  position: relative;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  background-color: var(--Dark, #000);
}

.screenCarouselWrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.screenCarouselContainer {
  width: 100%;
  display: flex;
}

.screenCarouselSlide {
  position: relative; // for table LocalModal
  flex-grow: 0;
  flex-shrink: 0;
  // padding-left: 2px;
  // padding-right: 2px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visuallyHidden {
  transform: scale(0);
  flex-grow: 1; // !!! щоб кнопка не підскакувала при оновленні
}
