@import "styles/utils/breakpoints.scss";
.authForm {
  margin-top: auto;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: var(--white_color);
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.24);
  caret-color: auto;
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 11px;
  line-height: 13px;

  color: rgba(0, 0, 0, 0.38);
}
.formInput {
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid rgba(15, 125, 255, 0.24);

  &::placeholder {
    color: rgba(0, 0, 0, 0.24);
  }
}
