@import "styles/utils/breakpoints";
@import "styles/utils/mixins";

.container {
  width: 100%;
  max-width: $mobileMax;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  background-color: var(--Dark, #000);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

// .formLabel {
//   display: flex;
//   flex-direction: column;
//   text-align: left;
// }

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 5px;

  color: var(--00, #818f99);
  font-size: 14px;
  text-align: left;
}

.formInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.btn {
  @include btn;
  align-self: flex-end;
}
