.item {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.img {
  width: 50%;
  height: 250px;
  border-radius: 10px;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
}
