.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.img {
  // max-width: 50%;
  // min-width: 100px;
  // max-height: 250px;
  width: 100px;
  height: 134px;
  border-radius: 10px;
  border: 4px solid #5d7e9e;
  border-radius: 4px;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: auto;
}
