@import "styles/utils/mixins";

.setupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.btnStart {
  @include btnInverse;
}

.startBtnContainer {
  display: flex;
  justify-content: center;
  background: var(--30, #1c2732);
}
