@import "styles/utils/mixins";
@import "styles/utils/breakpoints";

.setupOuterContainer {
  position: relative;
  min-height: $minHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // flex-grow: 1;

  width: 100vw;
}

.setupInnerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: $mobileMax;
}

.infoMessageContainer {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  // opacity: 0.92;
}

.btnStart {
  @include btnInverse;
}

.startBtnContainer {
  display: flex;
  justify-content: center;
  background: var(--30, #1c2732);
}

.bgInnerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  background: var(--30, #1c2732);
  // outline: 1px solid red;
  z-index: -1;
}
