// BUTTON
@mixin btn {
  // all base styles + Усі букви великі. Використовується у кнопках
  width: fit-content;
  padding: 14px 16px;
  background: var(--20, #2b3847);

  color: var(--04, #e3e7e9);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  &[disabled] {
    color: var(--10, #3b4957);
    cursor: auto;
  }
}

@mixin baseIcon {
  // Усі іконки у продукті
  // font-family: "Material Icon";
  line-height: 100%;
}

@mixin fontSmall {
  // Малий розмір. Використовується у labels
  font-size: 14px;
}

@mixin btnInverse {
  @include btn;

  background: var(--02, #c9cfd4);
  color: var(--40, #161f27);

  &[disabled] {
    background: var(--20, #2b3847);
  }
}
