// @import "./constants";

$focus: "3275B8"; //	Focus state for Inputs
$highlight: "F6902A"; //	Warnings
$light: "FFFFFF"; //	Invert: Dark
$dark: "000000"; //	Invert: Light

$c00: "818F99"; //	labels

$c01: "B0B9C0"; //	Invert: 10
$c02: "C9CFD4"; //	Invert: 20
$c03: "DCE0E3"; //	Invert: 30
$c04: "E3E7E9"; //	Invert: 40
$c05: "ECEEF0"; //	Invert: 50

$c10: "3B4957"; //	Invert: 01
$c20: "2B3847"; //	Invert: 02
$c30: "1C2732"; //	Invert: 03
$c40: "161F27"; //	Invert: 04
$c50: "0F171E"; //	Invert: 05

:root {
  // ========= Base styles =========
  --font_base_family: "Roboto";
  --font_base_size: 16px;
  --font_base_line_height: auto;
  --font_base_letter_spacing: 0%;
  --font_base_weight: 500;
  // ========= /Base styles =========

  --main_screen_height: calc(100vh - 44px);
  --btnBgColor: #{$c20};
  --btnTextColor: #{$c02};

  --Highlight: #f6902a;

  [data-theme="dark"] {
    --btnBgColor: #{$c02};
    --btnTextColor: #{$c20};
  }

  // --primary_color: #5d7e9e;
  // --secondary_color: #ebf0f5;
  // --status_bar_color: #476078;

  // --bg_color: #aec2d6;
  // --disable_color: #0000003d;
  // --header_active_color: #0f7dff;
  // --white_color: #fff;

  // --font_color: #000000de;

  // --btn-hover-bg-color: #0f7dff1f;

  @media screen and (min-width: $tablet) {
    --main_screen_height: calc(100vh - 44px - 62px);
  }
}

//% css-variables
// :root {
//   --primary-color: #3498db;
//   --secondary-color: #2ecc71;
//   --font-size-large: 18px;
//   --font-size-small: 14px;
//   --desktop: 1024px;
//   --tablet: 768px;
//   --mobile: 480px;
// }

// .button {
//   background-color: var(--primary-color);
//   font-size: var(--font-size-large);
//   padding: 10px 20px;
// }

// @media (max-width: var(--tablet)) {
//   .button {
//     font-size: var(--font-size-small);
//   }
// }

//% scss-variables
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $font-size-large: 18px;
// $font-size-small: 14px;
// $desktop: 1024px;
// $tablet: 768px;
// $mobile: 480px;

// .button {
//   background-color: $primary-color;
//   font-size: $font-size-large;
//   padding: 10px 20px;
// }

// @media (max-width: $tablet) {
//   .button {
//     font-size: $font-size-small;
//   }
// }
