// @import "./constants";
$c20: "#2B3847";
$c02: "#C9CFD4";

:root {
  --main_screen_height: calc(100vh - 44px);
  --btnBgColor: #{$c20};
  --btnTextColor: #{$c02};

  --Highlight: #f6902a;

  [data-theme="dark"] {
    --btnBgColor: #{$c02};
    --btnTextColor: #{$c20};
  }

  // --primary_color: #5d7e9e;
  // --secondary_color: #ebf0f5;
  // --status_bar_color: #476078;

  // --bg_color: #aec2d6;
  // --disable_color: #0000003d;
  // --header_active_color: #0f7dff;
  // --white_color: #fff;

  // --font_family: "Roboto";
  // --font_color: #000000de;
  // --font_size: 14px;
  // --font_line-height: 16px;
  // --font_weight: 400;

  // --btn-hover-bg-color: #0f7dff1f;

  @media screen and (min-width: $tablet) {
    --main_screen_height: calc(100vh - 44px - 62px);
  }
}

//% css-variables
// :root {
//   --primary-color: #3498db;
//   --secondary-color: #2ecc71;
//   --font-size-large: 18px;
//   --font-size-small: 14px;
//   --desktop: 1024px;
//   --tablet: 768px;
//   --mobile: 480px;
// }

// .button {
//   background-color: var(--primary-color);
//   font-size: var(--font-size-large);
//   padding: 10px 20px;
// }

// @media (max-width: var(--tablet)) {
//   .button {
//     font-size: var(--font-size-small);
//   }
// }

//% scss-variables
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $font-size-large: 18px;
// $font-size-small: 14px;
// $desktop: 1024px;
// $tablet: 768px;
// $mobile: 480px;

// .button {
//   background-color: $primary-color;
//   font-size: $font-size-large;
//   padding: 10px 20px;
// }

// @media (max-width: $tablet) {
//   .button {
//     font-size: $font-size-small;
//   }
// }
