.playersContainer {
  padding: 8px 0;
}

.playersTitle {
  color: var(--00, #818f99);
  padding: 0 16px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.listItem {
  position: relative;
  display: flex;
  min-height: 44px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  // overflow: hidden;

  &:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    // left: -16px;
    // right: -16px;

    border-top: 1px solid var(--20, #2b3847);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    // left: -16px;
    // right: -16px;

    border-bottom: 1px solid var(--20, #2b3847);
  }
}

.pointsScale {
  position: absolute;
  // left: -16px;
  // right: -16px;
  height: 100%;
  width: var(--fill-percentage);
  // width: 111%;

  background-color: var(--40, #161f27);
  transition: width 1s ease; /* додаткова анімація для плавності */
  z-index: -1;
}

.playerName {
  padding: 0 16px;
  color: var(--04, #e3e7e9);
}

// .playersList {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 0px;
//   width: 100%;
// }

// .player {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   padding: 12px 8px 16px 12px;
//   // background-color: #fff;
//   overflow: hidden;

//   &:not(:last-child) {
//     border-bottom: 1px solid #d8e2ed;
//   }

//   &::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: var(--fill-percentage);
//     background-color: #0f7dff1f; /* один колір з прозорістю */
//     transition: width 1s ease; /* додаткова анімація для плавності */
//     z-index: 0;
//   }

//   > * {
//     position: relative;
//     z-index: 1;
//   }
// }

.playerState {
  position: relative; // для цифри в колі для оповідача
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  margin-right: 16px;

  // Додаємо анімацію обертання для спінера
  svg {
    &.spin {
      animation: spin 1s linear infinite; // 1s - швидкість обертання, infinite - безкінечно
      color: #0f7dff;
      // stroke-width: 3; // Товщина ліній
    }
  }
}

.waiting {
  height: 16px;
  width: 16px;
  /* change color here */

  color: var(--04, #e3e7e9);
  animation: spin 1.2s linear infinite;
}
.waiting,
.waiting:after {
  box-sizing: border-box; // ! можна коментувати
}
.waiting {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.waiting:after {
  content: " ";
  display: block;
  // width: 20px;
  // height: 20px;
  width: 100%;
  height: 100%;
  // margin: 8px;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: spin 1.2s linear infinite;
  // animation-direction: reverse;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// Стан "походив" з галочкою
.guessed {
  width: 16px;
  height: 16px;
  color: var(--04, #e3e7e9);
  // background-image: url("/path/to/check.svg");
  // background-size: contain;
  // background-repeat: no-repeat;
}

.storyteller {
  width: 16px;
  height: 16px;
  color: var(--04, #e3e7e9);
  // background-size: contain;
  // background-repeat: no-repeat;
}

// .storytellerCircle {
//   position: relative;
//   width: 20px;
//   height: 20px;
//   color: #5d7e9e;
// }

.storytellerWrapper {
  // position: absolute;

  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: var(--color); // Колір тексту

  color: var(--00, #818f99);
}
