.playersList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 8px 16px 12px;
  background-color: #fff;
  position: relative;
  overflow: hidden;

  &:not(:last-child) {
    border-bottom: 1px solid #d8e2ed;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--fill-percentage);
    background-color: #0f7dff1f; /* один колір з прозорістю */
    transition: width 1s ease; /* додаткова анімація для плавності */
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.playerState {
  position: relative; // для цифри в колі для оповідача
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  // Додаємо анімацію обертання для спінера
  svg {
    &.spin {
      animation: spin 1s linear infinite; // 1s - швидкість обертання, infinite - безкінечно
      color: #0f7dff;
      // stroke-width: 3; // Товщина ліній
    }
  }
}

.waiting {
  /* change color here */
  color: #3498db;
}
.waiting,
.waiting:after {
  box-sizing: border-box; // ! можна коментувати
}
.waiting {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.waiting:after {
  content: " ";
  display: block;
  // width: 20px;
  // height: 20px;
  width: 100%;
  height: 100%;
  // margin: 8px;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Стан "походив" з галочкою
.guessed {
  width: 20px;
  height: 20px;
  color: #5d7e9e;
  // background-image: url("/path/to/check.svg");
  // background-size: contain;
  // background-repeat: no-repeat;
}

.storyteller {
  width: 20px;
  height: 20px;
  color: #5d7e9e;
  // background-size: contain;
  // background-repeat: no-repeat;
}

.storytellerCircle {
  position: relative;
  width: 20px;
  height: 20px;
  color: #5d7e9e;
}

.storytellerWrapper {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color); // Колір тексту
  font-size: 12px; // Розмір шрифту

  line-height: 13px;
}
