@import "styles/utils/mixins";

.img {
  width: 100%;
  // height: 100%;
}

// ======== Carousel ========
.carWrap {
  padding: 8px;
}

.carousel {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
}

.carouselSlide {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  // flex-basis: calc(100% - 8px);
  flex-basis: 100%;
  padding: 4px;
}

.slideContainerActive {
  // outline: 5px solid var(--04, #e3e7e9); // стискає падінг і зображення
  // outline: 5px solid var(--04, #e3e7e9); // не малюється
  box-shadow: inset 0 0 0 2px var(--04, #e3e7e9); // працює
}

.checkboxContainerNonCarousel {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  gap: 4px;
}

.checkboxContainerCarousel {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  gap: 4px;
}

.checkboxContainer2Carousel {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
}

.checkboxContainer2NonCarousel {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  display: flex;
  gap: 4px;
}

.checkboxCard {
  // position: relative;
  // border-radius: 50%;
  // height: 13px;
  // width: 13px;
  // width: 16px;
  // height: 16px;
  // background-color: var(--04, #e3e7e9);
}

.checkboxCard2 {
}

.iconStar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;

  // color: var(--40, #161f27);
  color: var(--04, #e3e7e9);
}

.iconStar2 {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;

  // color: var(--40, #161f27);
  color: var(--04, #e3e7e9);
}

//Стилі для появи першого слайду
.carouselImage {
  width: 100%;
  // height: 100%;
  object-fit: fill;

  // Початковий стан для всіх слайдів
  transform: scale(0);
  opacity: 0.5;
  // border: 4px solid #5d7e9e;
  // border-radius: 4px;

  // Анімація для плавної появи слайду
  animation: fadeInScale 0.3s ease forwards; // "forwards" зберігає кінцевий стан
}

// Анімація появи
@keyframes fadeInScale {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.carouselCheckbox {
  // width: 100%;
  // height: 100%;
  // color: #fff;
  // color: var(--04, #e3e7e9);
  // color: var(--40, #e3e7e9);
  // background-color: var(--04, #e3e7e9);

  // border-radius: 50%;
}

.currentDeckContainer {
  position: relative;
  padding: 8px;

  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 8px;
}

.card {
  position: relative;
  width: 96px;
  // height: auto;

  padding: 4px;
  background-color: transparent;
}

// ==================== Results styles
.resultList {
  display: flex;
  flex-direction: column;
}

.resultItem {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid #aec2d6;
}

.resultImg {
  // width: 100%;
  // height: 100%;

  height: 134px;
  min-width: 100px;
  object-fit: fill;
  border: 4px solid #5d7e9e;
  border-radius: 4px;

  // width: 104px;
}

.resultPlayers {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.resultVotes {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.voterContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000000de;
}

.resultCheckboxContainer {
  display: flex;
  gap: 5px;
  color: #5d7e9e;
}

.carouselModeBtnsWrapper {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

// .currentWidth {
//   width: 90px;
// }

.btn {
  @include btn;
  background: var(--20, #2b3847);
  color: var(--04, #e3e7e9);
}

.btnActive {
  background: var(--02, #c9cfd4);
  color: var(--40, #161f27);
}

.btnStarIcon {
  width: 16px;
  height: 16px;
}

.cardsListFaceDown {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aec2d6;
}

.zoomImg {
  // todo переробити під правильні розміри
  width: 100%;
  height: 100%;

  object-fit: fill;
  border: 4px solid #5d7e9e;
  border-radius: 4px;
}
