.cardsListFaceDown {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aec2d6;
}

.cardsListFaceUp {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: #aec2d6;
}

.carouselWrapper {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
}

.carouselSlide {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 46px);
}

.slideContainer {
  height: 100%;
  position: relative;
  padding-top: 26px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.checkboxContainer {
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  gap: 5px;
  background-color: #5d7e9e;

  height: 22px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;

  // border-radius: 8px 8px 0px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.checkboxCard {
  width: 20px;
  height: 20px;
}

//Стилі для появи першого слайду
.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: fill;

  // Початковий стан для всіх слайдів
  transform: scale(0);
  opacity: 0.5;

  // Анімація для плавної появи слайду
  &.visible {
    animation: fadeInScale 0.3s ease forwards; // "forwards" зберігає кінцевий стан
  }
}

// Анімація появи
@keyframes fadeInScale {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.img {
  width: 100%;
  height: 100%;
}

.carouselCheckbox {
  color: #fff;
  width: 100%;
  height: 100%;
}

.carouselCheckbox {
  color: #fff;
  width: 100%;
  height: 100%;
}

.currentDeckContainer {
  padding-left: 2px;
  padding-right: 2px;
}

.currentDeck {
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
  display: flex;

  flex-wrap: wrap;
  gap: 26px 2px;

  overflow-y: auto;
  max-height: 90vh;
}

.card {
  height: 134px;
  position: relative;
  flex-basis: calc((100% - 4px) / 3);

  // overflow: hidden;
}

.checkboxContainerList {
  position: absolute;
  top: -22px;
  left: 0x;
  display: flex;
  gap: 5px;
  background-color: #5d7e9e;
  color: #fff;

  height: 22px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;

  border-radius: 8px 8px 0px 0px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
}

// ==================== Results styles
.resultList {
  display: flex;
  flex-direction: column;
}

.resultItem {
  display: flex;
  gap: 8px;
  padding: 8px;
  border-bottom: 1px solid #aec2d6;
}

.resultImg {
  // width: 100%;
  // height: 100%;

  height: 134px;
  min-width: 100px;
  object-fit: fill;

  // width: 104px;
}

.resultPlayers {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.resultVotes {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.voterContainer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #000000de;
}

.resultCheckboxContainer {
  display: flex;
  gap: 5px;
  color: #5d7e9e;
}

.carouselModeBtnsWrapper {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.currentWidth {
  width: 90px;
}

.btnActive {
  background-color: #0f7dff1f;
}

.zoomImg {
  // todo переробити під правильні розміри
  width: 100%;
  height: 600px;

  object-fit: fill;
}
