.cardsListFaceDown {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aec2d6;
}

.cardsListFaceUp {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: #aec2d6;
}

.carouselWrapper {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
}

.carouselSlide {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  // flex-basis: 100%; // In chrome-browser set wrong behaviour
  width: 100%;
  margin-right: 20px;
}

//Стилі для появи першого слайду
.carouselImage {
  width: 100%;
  height: auto;

  // Початковий стан для всіх слайдів
  transform: scale(0);
  opacity: 0.5;

  // Анімація для плавної появи слайду
  &.visible {
    animation: fadeInScale 0.3s ease forwards; // "forwards" зберігає кінцевий стан
  }
}

// Анімація появи
@keyframes fadeInScale {
  from {
    transform: scale(0);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.checkboxContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.checkboxBase {
  color: gold;
}

.checkboxCard {
  @extend .checkboxBase;
  font-size: 14px; /* Розмір для .card */
}

.carouselCheckbox {
  @extend .checkboxBase;
  font-size: 40px; /* Розмір для .carouselSlide */
}

.currentDeck {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 5px;
}

.card {
  position: relative;
  width: 120px;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
  transition: opacity 0.3s ease; // Додаємо перехід для зникнення
}

.img {
  width: 100%;
  height: 100%;
}
