@import "styles/utils/mixins";
@import "styles/utils/breakpoints";

.homePageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
    180deg,
    var(--mainPageHeader) 50%,
    var(--mainPageFooter) 50%
  );

  background: --enter-on;
}

.gameBgHeader {
  background: var(--mainPageHeader);

  @media screen and (min-height: ($minHeight + 1)) {
    height: calc((100vh - $minHeight) / 2);
    width: 100vw;
  }
}

.gameBg {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 568px;
  background: var(--enter-on);
  background-size: cover;
  background-position: center;
}

.gameName {
  height: 48px;
  margin-top: 70px;

  color: #3b4957;
}

.gameSlogan {
  margin-top: 24px;
  height: 10px;

  color: #818f99;
}

.gameLogo {
  width: 92px;
  height: 92px;
  margin-top: 60px;

  cursor: pointer;

  // outline: none; /* На випадок, якщо outline все ще впливає */
  // -webkit-user-select: none; /* Запобігає виділенню тексту чи елементів */
  // user-select: none; /* Стандартна властивість для всіх браузерів */
}

.logoShadow {
  width: 320px;
  height: 96px;

  margin-top: 20px;

  border-radius: 320px;
  background: var(--logoShadow);
}

.btn {
  @include btn;
}

.homePageGoogleLoginBtn {
  margin-top: 8px;
  white-space: nowrap;
}

.homePageAuthContainer {
  margin-top: 20px;

  display: flex;
  gap: 10px;
}

.activeBtnLink {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--Highlight, #f6902a);
}

.googleLoginContainer {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.gameBgFooter {
  background: var(--mainPageFooter);

  @media screen and (min-height: (569px)) {
    height: calc((100vh - 568px) / 2);
    width: 100vw;
  }
}
