@import "styles/utils/breakpoints.scss";
@import "styles/utils/mixins";

.container {
  width: 100%;
  // margin: 0 auto;
  padding: 0 16px;
  // display: flex;
  // flex-direction: column;

  // @media screen and (min-width: $tablet) {
  //   width: 320px;
  // }

  background-color: var(--Dark, #000);
}

.pageHeader {
  height: 44px;

  background-color: var(--primary_color);
  padding: 11px 16px;
  padding-left: 44px;
}

.pageHeader_title {
  font-size: 16px;
  line-height: 22px;
  color: var(--revers_font_color);
}

.pageFooter {
  height: 32px;
  background-color: var(--primary_color);
}

.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: rgba(0, 0, 0, 0.623);

  margin: 1rem 0;
  padding: 1rem;
  background-color: #fffce6;
  border: 1px solid #0c00fa;

  text-align: center;
}
.googleLoginContainer {
  position: relative;
  display: flex;
}

.actionButton {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #0056b3;
  }
}

.btn {
  @include btn;
  align-self: flex-end;
}
