.item {
  position: relative;
  height: 44px;
  display: flex;
  justify-content: end;
  align-items: center;

  background-color: #fff;

  user-select: none;
  caret-color: transparent;
  opacity: 0.5;
}

.host {
  opacity: 1;
  cursor: grab; /* Для хоста */
}

.dragHandle {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-grow: 1;
  align-items: center; /* Вирівнювання тексту по вертикалі */
  align-self: stretch; // розтягнути на всю площину li.item:
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.dndIcon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  padding: 2px;

  color: #5d7e9e;
}

.removePlayerBtn {
  padding: 0;
  z-index: 1; /* Щоб кнопка була поверх .dragHandle */
  padding: 10px;
  // transition: transform 1s ease, color 0.3s ease;

  font-size: 24px;

  // &:hover:not(:disabled) {
  //   // animation: wiggle 0.5s infinite; /* Запуск анімації при ховері */
  //   // color: red;
  // }

  &:focus {
    outline: 1px solid #000; /* Контур при фокусі */
  }

  &:disabled {
    // перевизначення для більшої специфічності (disabled за замовчуванням у btnBase з обводкою)
    border: 1px solid transparent; /* Зберігаємо прозору обводку */
  }
}

// @keyframes wiggle {
//   0% {
//     transform: rotate(0deg);
//   }
//   25% {
//     transform: rotate(5deg);
//   }
//   75% {
//     transform: rotate(-5deg);
//   }
//   100% {
//     transform: rotate(0deg);
//   }
// }
