.carouselWrapper {
  overflow: hidden;
}

.carouselContainer {
  display: flex;
}

.carouselSlide {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  // flex-basis: 100%; // In chrome-browser set wrong behaviour
}

.carouselImage {
  width: 100%;
  height: auto;
  // object-fit: cover;
}

.checkboxContainer {
  position: absolute; /* Позиціонування відносно картки */
  top: 10px; /* Відступ від низу картки */
  right: 10px; /* Відступ зліва */
  display: flex; /* Горизонтальне розташування зірочок */
  gap: 5px; /* Відстань між зірочками */
}

.checkboxCarousel {
  color: gold;
  font-size: 40px; /* Розмір для .carouselSlide */
}
