.decksContainer {
  position: relative;
  padding: 8px 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}
.redirectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 44px;
  padding: 0 14px 0 16px;

  background-color: var(--btnBgColor);
  color: var(--btnTextColor);

  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalDecksItem {
  position: relative;
  display: flex;
  min-height: 44px;
  align-items: center;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;

    border-top: 1px solid var(--20, #2b3847);
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: -16px;
  //   right: -16px;

  //   border-bottom: 1px solid var(--20, #2b3847);
  // }
}
.listItem {
  position: relative;
  display: flex;
  height: 44px;
  align-items: center;
  width: 100%;

  &:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;

    border-top: 1px solid var(--20, #2b3847);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -16px;
    right: -16px;

    border-bottom: 1px solid var(--20, #2b3847);
  }
}

.label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  color: var(--04, #e3e7e9);
}

.input {
  opacity: 0;
  display: none;
}

.iconBtn {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: auto;
}

.icon {
  width: 16px;
  height: 16px;
  height: 100%;
  margin-right: 16px;

  color: var(--04, #e3e7e9);
  cursor: pointer;

  &.disabled {
    color: var(--10, #3b4957);
    cursor: auto;
  }
}

.mgnLeft {
  margin-right: 0;
  margin-left: 16px;
}

.itemText {
  align-self: left;
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.itemRightGroup {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 100%;
}

//* checkbox
.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkboxLabel {
  position: relative;
  padding: 10px;
  padding-left: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  // Базовий стиль
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 2px solid #000; // Чорний за замовчуванням
    border-radius: 4px;
    background-color: transparent;
  }

  //# для старих браузерів - варіант з умовним класом:
  // Показуємо галочку, коли input всередині label має стан :checked
  &.checked::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000; // Чорний за замовчуванням
    opacity: 1;
  }

  // За замовчуванням галочка прихована
  &::after {
    content: "✔";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000; // Чорний за замовчуванням
    opacity: 0;
    transition: opacity 0.2s;
  }

  &.disabled {
    cursor: auto;
    color: #0000003d;

    &::before {
      border-color: #0000003d;
    }

    &::after {
      color: #0000003d;
    }
  }
}
